@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --high-emphasis: rgba(0, 0, 0, 0.87);
  --medium-emphasis: rgba(0, 0, 0, 0.60);
  --low-emphasis: rgba(0, 0, 0, 0.35);
  --common-border: 1px solid #eeeeee;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #f7f8f9;
}

input {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  padding: 20px 15%;
}

.pokemon-display {
  flex: 0 1 35%;
  margin-right: 20px;
}

.pokemon-data {
  flex: 0 1 65%;
}

.pokemon-data div+div {
  margin-top: 20px;
}

.tab-nav {
  width: 100%;
  display: flex;
}

.tab-nav .tab {
  width: calc(100% / 6);
  background-color: #fcfcfc;
  border: var(--common-border);
  display: inline-flex;
  width: 100%;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--high-emphasis);
  font-size: 1rem;
}

.tab-nav .tab+.tab {
  border-left: 0;
}

.tab-nav .tab.selected {
  background-color: #fff;
  border-bottom: 0;
  cursor: default;
}

.tab-nav .tab .sprite {
  max-width: 20px;
  max-height: 20px;
}

.tab-nav .tab .sprite img {
  width: 100%;
}

.tab-nav .tab .species {
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-nav .empty {
  cursor: default;
}

.tab-nav .new {
  color: var(--low-emphasis);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab-nav .new i {
  font-size: 1rem;
}

.tab-content {
  width: 100%;
  background-color: #fff;
  border: var(--common-border);
  border-top: 0;
}

.tab-content .pane {
  width: 100%;
  padding: 20px;
  display: none;
}

.tab-content .pane.selected {
  display: flex;
}

.table-wrapper {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: var(--common-border);
  background-color: #fff;
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

table td,
table th {
  padding: 10px 15px;
  vertical-align: top;
  border: var(--common-border);
  font-size: 1rem;
  font-weight: normal;
  color: var(--high-emphasis);
}

table thead.header tr {
  background-color: #fcfcfc;
}

table tbody.body {
  font-size: 0.75rem;
}

table tbody.body th {
  background-color: #fcfcfc;
}

table.vertical-table {
  height: 0%;
}

table.vertical-table tr.header {
  background-color: #fcfcfc;
}

table.vertical-table tr:not(.header) {
  font-size: 0.75rem;
}

.pokemon-table .input-cell {
  padding: 0;
}

.pokemon-table .input-cell>input {
  padding: 10px 15px;
  cursor: pointer;
}

.pokemon-table .input-cell>input:focus {
  box-shadow: 0 0 0 2px #008ee158 inset;
}

.pokemon-table input,
.pokemon-table span {
  width: 100%;
  color: var(--high-emphasis);
  font-size: 0.75rem;
}

.pokemon-table .species {
  padding: 0;
  font-size: 0.75rem;
}

.pokemon-table .species .wrapper {
  display: flex;
  width: 100%;
  height: max-content;
}

.pokemon-table .species .national-number {
  flex: 1 0 max-content;
  padding: 10px 15px;
  border-right: var(--common-border);
}

.pokemon-table .species .name {
  flex: 0 1 100%;
}

.pokemon-table .sprite,
.pokemon-table .types {
  text-align: center;
}

.pokemon-table .types .wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pokemon-table .types .type {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
}

.pokemon-table .ability-description {
  font-size: 0.75rem;
}

.stats-table .label-col {
  width: 20%;
}

.stats-table .iv-col,
.stats-table .ev-col {
  width: 10%;
}

.stats-table .chart-col {
  width: 30%;
}

.stats-table .input-cell {
  padding: 0;
}

.stats-table .input-cell>input {
  padding: 10px 15px;
  cursor: pointer;
}

.stats-table .input-cell>input:focus {
  box-shadow: 0 0 0 2px #008ee158 inset;
}

.stats-table input,
.stats-table span {
  width: 100%;
  color: var(--high-emphasis);
  font-size: 0.75rem;
}

.stats-table .body td,
.stats-table .body th {
  font-size: 0.75rem;
}

.stats-table .body progress,
.stats-table .body progress::-webkit-progress-bar,
.stats-table .body progress::-moz-progress-bar {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.stats-table .body progress::-webkit-progress-value,
.stats-table .body progress[value] {
  background-color: #fcfcfc;
  border: var(--common-border);
}

.moves-table .name-col {
  width: 40%;
}

.moves-table .input-cell {
  padding: 0;
}

.moves-table .input-cell>input {
  padding: 10px 15px;
  cursor: pointer;
}

.moves-table .input-cell>input:focus {
  box-shadow: 0 0 0 2px #008ee158 inset;
}

.moves-table input,
.moves-table span {
  width: 100%;
  color: var(--high-emphasis);
  font-size: 0.75rem;
}

.moves-table .body td,
.moves-table .body th {
  font-size: 0.75rem;
}

.moves-table .move-type .wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.moves-table .move-type .type {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 3px;
}

img.placeholder {
  filter: opacity(0.01);
}

.type.bug {
  background-color: #91c22e !important;
}

.type.dark {
  background-color: #595265 !important;
}

.type.dragon {
  background-color: #0a6dc8 !important;
}

.type.electric {
  background-color: #f3d33c !important;
}

.type.fairy {
  background-color: #ef90e6 !important;
}

.type.fighting {
  background-color: #cf4069 !important;
}

.type.fire {
  background-color: #ff9d55 !important;
}

.type.flying {
  background-color: #8ea9df !important;
}

.type.ghost {
  background-color: #5568aa !important;
}

.type.grass {
  background-color: #61bb59 !important;
}

.type.ground {
  background-color: #db7645 !important;
}

.type.ice {
  background-color: #71cfbe !important;
}

.type.normal {
  background-color: #9199a1 !important;
}

.type.poison {
  background-color: #aa6ac7 !important;
}

.type.psychic {
  background-color: #fb7075 !important;
}

.type.rock {
  background-color: #c7b78a !important;
}

.type.steel {
  background-color: #598fa2 !important;
}

.type.water {
  background-color: #4d91d7 !important;
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  position: fixed;
  z-index: 10;
  top: 0;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

.battle-wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.user-team,
.leader-team {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 30%;
}

.user-team .party,
.leader-team .party {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.user-team .party .party-pokemon,
.leader-team .party .party-pokemon {
  flex: 0 1 calc(100% / 6);
  max-width: calc(100% / 6);
  background-color: #fff;
  border: var(--common-border);
  align-self: flex-start;
  height: calc(100% - 5px);
  width: 100%;
  user-select: none;
}

.user-team .party .party-pokemon + .party-pokemon,
.leader-team .party .party-pokemon + .party-pokemon {
  border-left: 0;
}

.user-team .party .party-pokemon img,
.leader-team .party .party-pokemon img {
  max-width: 100%;
  width: 100%;
  padding: 5px;
}

.user-team .party .party-pokemon.faint,
.leader-team .party .party-pokemon.faint {
  background-color: #eee;
}

.user-team .party .party-pokemon.faint img,
.leader-team .party .party-pokemon.faint img {
  filter: grayscale(100%);
}

.user-team .party .party-pokemon.active,
.leader-team .party .party-pokemon.active {
  box-shadow: 0 0 0 1px #008ee179 inset;
}

.handler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handler #handler {
  color: var(--high-emphasis);
  padding: 20px 35px;
  cursor: pointer;
  background-color: #fff;
}

.handler #handler i {
  font-size: 5rem;
}

.battle-log {
  display: flex;
  flex: 0 0 40%;
  width: 100%;
  height: 70%;
  max-height: 70%;
  overflow-y: auto;
  flex-wrap: wrap;
  background-color: #fff;
  border-color: #fcfcfc;
  border: var(--common-border);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.battle-log::-webkit-scrollbar {
  display: none;
}

.battle-log .turn {
  width: 100%;
}

.battle-log .turn + .turn {
  border-top: var(--common-border);
}

.battle-log .turn .turn-header {
  font-size: 0.8rem;
  color: var(--high-emphasis);
  background-color: #fcfcfc;
  border-bottom: var(--common-border);
  padding: 15px;
}

.battle-log .turn .half {
  padding: 15px;
}

.battle-log .turn .half + .half {
  padding-top: 0;
}

.battle-log .turn .half span {
  font-size: 0.8rem;
  color: var(--high-emphasis);
  display: inline-block;
  width: 100%;
}

.pokemon {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: var(--common-border);
  background-color: #fff;
}

.user-team .pokemon.active,
.leader-team .pokemon.active {
  display: flex !important;
}

.user-team .pokemon,
.leader-team .pokemon {
  display: none !important;
}

.pokemon .header {
  width: 100%;
  background-color: #fcfcfc;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: var(--common-border);
}

.pokemon .header .name {
  flex: 0 1 100%;
  color: var(--high-emphasis);
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0 15px;
  display: flex;
}

.pokemon .header .types {
  flex: 0 1 max-content;
  border-left: var(--common-border);
  padding: 15px;
  padding-bottom: 14px;
  display: flex;
}

.pokemon .header .types .pokemon-type {
  width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: 50%;
}

.pokemon .header .types .pokemon-type+.pokemon-type {
  margin-left: 5px;
}

.pokemon .sprite {
  padding: 15px;
  text-align: center;
}

.pokemon .sprite img {
  max-width: 100%;
  user-select: none;
}

.pokemon .status {
  padding: 15px;
  border-top: var(--common-border);
  border-bottom: var(--common-border);
  background-color: #fcfcfc;
}

.pokemon .status.none {
  display: none;
}

.pokemon .stats {
  padding: 15px;
  padding-top: 0;
}

.pokemon .stats table {
  border: 0;
}

.pokemon .stats table th,
.pokemon .stats table td {
  border: 0;
  font-size: 0.8rem;
  padding: 0;
  padding-bottom: 5px;
}

.pokemon .stats table .label {
  text-align: left;
  font-weight: normal;
  color: var(--high-emphasis);
}

.pokemon .stats table .total {
  text-align: right;
  color: var(--medium-emphasis);
}

.pokemon .health-bar td {
  padding: 0;
}

.pokemon .health-bar td div {
  padding: 0;
}

.pokemon .health-bar .health-wrapper {
  width: 100%;
  height: 15px;
  background-color: #fcfcfc;
  border: var(--common-border);
}

.pokemon .health-bar .bar {
  height: 100%;
  background-color: #00d166;
  transition: width .25s ease-in-out;
}

.section-title {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 20px 0 20px;
  color: var(--medium-emphasis);
}

div+.section-title {
  margin-top: 60px;
}

.select-team {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.select-team .team-list-wrapper {
  background-color: #fff;
  border: var(--common-border);
  height: max-content;
  padding: 15px;
  position: relative;
}

.select-team .team-list-wrapper h1 {
  font-size: 1rem;
  color: var(--medium-emphasis);
  font-weight: normal;
}

.select-team .close-button {
  cursor: pointer;
  color: var(--medium-emphasis);
  position: absolute;
  right: 15px;
  top: 15px;
}

.select-team .close-button i {
  font-size: 0.8rem;
}

.select-team .close-button:hover {
  color: var(--high-emphasis);
}

.select-team .buttons {
  min-width: 200px;
  display: flex;
  margin-top: 20px;
}

.select-team .buttons button {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--high-emphasis);
  background-color: #fcfcfc;
  border: var(--common-border);
  cursor: pointer;
}

.select-team .buttons button:hover {
  background-color: #eee;
}

.select-team .buttons button + button {
  margin-top: 5px;
}

.leaders-wrapper {
  display: flex;
  gap: 20px;
  background-color: #fff;
  border: var(--common-border);
  padding: 15px;
}

.leader {
  flex: 0 1 calc(100% / 5);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: var(--common-border);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.leader.selected {
  box-shadow: 0 0 0 1px #0090e1, 0 0 1px 3px #008ee12f;
}

.leader.selected:hover .hover-effect {
  opacity: 0.1;
}

.leader .hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #0090e1;
  z-index: 10;
  transition: ease-in-out 0.25s;
}

.leader .avatar {
  position: relative;
  padding: 20px;
}

.leader .avatar img {
  max-width: 100%;
  width: 100%;
  border-radius: 50%;
}

.leader .avatar .leader-type {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 7px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid #fff;
}

.leader .name {
  width: 100%;
  background-color: #fcfcfc;
  border-top: var(--common-border);
  padding: 15px;
  color: var(--high-emphasis);
}

.leader .name p {
  font-size: clamp(0.8rem, 1rem, 1.05rem);
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.teams-wrapper {
  padding: 15px;
  background-color: #fff;
  border: var(--common-border);
  display: flex;
  margin-bottom: 60px;
}

.teams-wrapper .team {
  display: none;
  width: 100%;
}

.teams-wrapper .team.selected {
  display: flex;
}

.teams-wrapper .team .pokemon {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% / 6);
  border: var(--common-border);
  background-color: #fff;
  max-width: calc(100% / 6);
}

.teams-wrapper .team .pokemon+.pokemon {
  border-left: 0;
}

.teams-wrapper .team .pokemon .sprite {
  padding: 15px;
  width: 100%;
  text-align: center;
}

.teams-wrapper .team .pokemon .sprite>img {
  max-width: 100%;
}

.teams-wrapper .team .pokemon .info {
  flex: 0 1 100%;
  background-color: #fcfcfc;
  border-top: var(--common-border);
  padding: 15px;
}

.teams-wrapper .team .pokemon .info .name {
  display: inline-flex;
  width: 100%;
  color: var(--high-emphasis);
}

.teams-wrapper .team .pokemon .info .name p {
  font-size: clamp(0.8rem, 1rem, 1.05rem);
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.teams-wrapper .team .pokemon .info .types {
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}

.teams-wrapper .team .pokemon .info .types .pokemon-type {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 7px;
}

.teams-wrapper .team .pokemon .info .types .pokemon-type+.pokemon-type {
  margin-left: 5px;
}

.navbar {
  background-color: #fff;
  border-bottom: var(--common-border);
  width: 100%;
  display: flex;
  padding: 15px 15%;
}
.navbar a:link,
.navbar a:visited,
.navbar a {
  text-decoration: none;
  color: var(--medium-emphasis);
  padding: 10px 0;
}
.navbar a:link:hover,
.navbar a:visited:hover,
.navbar a:hover {
  color: var(--high-emphasis);
}
.navbar .links a + a {
  margin-left: 30px;
}
.navbar .account {
  margin-left: auto;
}

.container.teams .team-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: var(--common-border);
  padding: 15px;
  background-color: #fff;
}
.container.teams .team-wrapper .team {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container.teams .team-wrapper .team .header {
  padding: 15px;
  border: var(--common-border);
  background-color: #fcfcfc;
  display: flex;
  flex-wrap: nowrap;
}
.container.teams .team-wrapper .team .header .name {
  max-width: 70%;
}
.container.teams .team-wrapper .team .header .name p {
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--high-emphasis);
}
.container.teams .team-wrapper .team .header .options {
  margin-left: auto;
}
.container.teams .team-wrapper .team .header .options a {
  display: inline-block;
  color: var(--high-emphasis);
  cursor: pointer;
}
.container.teams .team-wrapper .team .header .options a + a {
  margin-left: 5px;
}
.container.teams .team-wrapper .team .header .options a i {
  font-size: 16px;
  padding: 0 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container.teams .team-wrapper .team + .team {
  margin-top: 15px;
}
.container.teams .team-wrapper .team .pokemon-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon {
  flex: 0 1 calc(100% / 6);
  max-width: calc(100% / 6);
  border-top: 0;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon + .pokemon {
  border-left: 0;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .sprite {
  padding: 15px;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .sprite img {
  max-width: 100%;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .information {
  background-color: #fcfcfc;
  border-top: var(--common-border);
  padding: 15px 5px;
  width: 100%;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .name {
  width: 100%;
  text-align: center;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1rem;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .types {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .types .pokemon-type {
  width: 25px;
  height: 25px;
  padding: 7px;
  border-radius: 50%;
}
.container.teams .team-wrapper .team .pokemon-wrapper .pokemon .types .pokemon-type + .pokemon-type {
  margin-left: 5px;
}
.container.teams .create-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.team + .create-wrapper {
  margin-top: 20px;
}

.container.teams .create-wrapper a {
  display: inline-block;
  width: max-content;
  height: max-content;
  background-color: #fcfcfc;
  border: var(--common-border);
  user-select: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.container.teams .create-wrapper a i {
  font-size: 5rem;
  padding: 20px;
  color: var(--low-emphasis);
}

.container.create-team {
  padding-bottom: 20px;
}
.container.create-team .team-name {
  width: 100%;
  padding: 10px;
  background-color: #fcfcfc;
  border: var(--common-border);
  margin-bottom: 20px;
}
.container.create-team .team-name input {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  background-color: #fcfcfc;
  color: var(--high-emphasis);
}
.container.create-team .team-name input:hover, .container.create-team .team-name input:focus {
  box-shadow: 0 0 0 1px #eee;
  background-color: #fff;
}
.container.create-team .submit {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  border: var(--common-border);
  background-color: #fff;
}
.container.create-team .submit .submit-button {
  padding: 10px 15px;
  width: 100%;
  color: var(--high-emphasis);
  background-color: #fcfcfc;
  border: var(--common-border);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 10%;
  }
}

@media (max-width: 768px) {
  /* ... */
}

@media (max-width: 562px) {
  .wrapper {
    padding: 0 5%;
  }
}
